/MANIFEST
/MANIFEST.bak
/MANIFEST.SKIP
/META.*
/MYMETA.*
/Makefile
/Makefile.old
/README
/blib/
/pm_to_blib
/Distar
/Debian*
*~
*#
.#*
*.bs
/Catalyst-Runtime-*/
/Catalyst-Runtime-*.tar.gz
/cover_db/
/_eumm/
/t/tmp/
/.aggregating
