Alex Sparkman <asparkman@mediamath.com>
Andreas Marienborg <omega@palle.net> <andreas.marienborg@gmail.com>
Andrew Rodland <andrew@cleverdomain.org> <arodland@cpan.org>
Aristotle Pagaltzis <pagaltzis@gmx.de> <pagaltzis@gmx.de>
Artem Konev <artem.konev@nginx.com> <41629299+artemkonev@users.noreply.github.com>
Brian Phillips <bphillips@cpan.org> <bphillips@digitalriver.com>
Christopher Masto <chris@masto.com>
Colin Newell <colin@opusvl.com> <colin.newell@gmail.com>
Dagfinn Ilmari Mannsåker <ilmari@ilmari.org> <ilmari.mannsaker@net-a-porter.com>
Dagfinn Ilmari Mannsåker <ilmari@ilmari.org> <ilmari@photobox.com>
David Schmidt <mail@davidschmidt.at> <davewood@gmx.at>
Eden Cardim <edencardim@gmail.com> <e.cardim@shadowcat.co.uk>
Gareth Kirwan <gbjk@thermeon.com> <gbjk@thermeoneurope.com>
Gerda Shank <gerda.shank@gmail.com> <gshank@cpan.org>
Jay Hannah <jay@jays.net> <jay.hannah@iinteractive.com>
Jesse Sheidlower <jester@panix.com>
John Napiorkowski <jjn1056@yahoo.com> <jjnapiork@cpan.org>
Jonathan Yu <jawnsy@cpan.org> <frequency@cpan.org>
Julien Fiegehenn <simbabque@cpan.org>
Kartik Thakore <thakore.kartik@gmail.com>
Kennedy Clark <hkclark@gmail.com>
Kennedy Clark <hkclark@gmail.com> <hkclark@cpan.org>
Kostya Ten <kostya@cpan.org>
Mark Ellis <m@rkellis.com> <mark.ellis@cartridgesave.co.uk>
Mateu X. Hunter <hunter@missoula.org>
Matthias Dietrich <perl@rb.ly> <perl@rainboxx.de>
Rafael Kitover <rkitover@cpan.org> <rkitover@io.com>
Ricardo Signes <rjbs@semiotic.systems> <rjbs@cpan.org>
Samuel Kaufman <sam@socialflow.com>
Tomas Doran <bobtfish@bobtfish.net>
Tomas Doran <bobtfish@bobtfish.net> <t0m@state51.co.uk>
Tomas Doran <bobtfish@bobtfish.net> <tdoran@yelp.com>
Tomáš Valoušek <tv@uxf.cz> <valy23@gmail.com>
Wallace Reis <wallace@reis.me> <reis.wallace@gmail.com>
Wallace Reis <wallace@reis.me> <wreis@123people.com>
Wes Sheldahl <wes.sheldahl@gmail.com>
antgel <no@se.com>
kmx <kmx@cpan.org>
kmx <kmx@cpan.org> <kmx@volny.cz>
